@import "./normalize.css";

/* Global variables*/

/* Universal Selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

::selection {
  background: #396caa;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  margin-bottom: 1rem;
  line-height: 1;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

/* Components 
---------------- */

/* Background Image */

body {
  min-height: 100vh;
  background: no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Layout  */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-shadow: 0px 0px 15px #000;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.middle-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* #img-author {
  background-image: linear-gradient(to bottom, #86868680, #86868680);
  display: inline;
  padding: 0.5rem;
} */
