@import "./normalize.css";

/* Global variables*/

/* Universal Selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

::selection {
  background: #396caa;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  margin-bottom: 1rem;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 8rem;
  }
}

/* Components 
---------------- */

/* Background Image */

body {
  min-height: 100vh;
  background: no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Layout  */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  text-shadow: 0px 0px 15px #757575;
  width: calc(100vw - 20px);
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-row {
  text-align: center;
  margin: 0 auto;
}

.crypto {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 2rem;
}

.crypto__logo {
  width: 1em;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather__temperature {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.weather__temperature img {
  width: 2.7em;
}

.quote {
  font-style: italic;
  max-width: 30ch;
}

.quote__author {
  font-size: 0.83em;
  font-style: normal;
}

@media screen and (min-width: 900px) {
  .crypto {
    font-size: 2.6rem;
  }

  .weather__temperature {
    font-size: 3rem;
  }
}
